/* 
Global
___________________________________________________
*/
/* =-- 1. LESS --- */
/* =-- 1. LESS --- */
/* 	COLORS (1 = lightest, 10 = med, 20 = dark)
		Primary: Blue 
		Secondary: Grey
		Highlight: Green
		Error: Red
	*/
/* GRADIENTS */
/* CORNERS (largest, larger, large, med, small, smaller, smallest) */
/* SHADOWS */
/* IMAGES */
/* =-- 2. Reset & Quick Fixes --- */

/* LOADING */
.toggle-loading {
  border: 1px solid #fff;
  position: absolute;
  /*background:#D6D6D6;*/
}
.toggle-loading  .icon {
  float: left;
  width: 16px;
  height: 16px;
  padding: 10px 0 10px 10px;
  background: url(../img/toggle-loading.gif) center center no-repeat;
}
.toggle-loading  .copy {
  float: left;
  padding: 0px 7px;
  color: #666666;
}
